<div class="container">
	<form class="form-horizontal" ng-submit="envio()" name="activarOrigenForm">
      <div class="account-wall">         
          <h1 class="text-center login-title">ACTIVAR ORIGEN ANTIGUO</h1>
          <div class="row">
	          <div class="col-md-3">
	          	<label class="custom-size">Seleccione un Origen:</label>
	          </div>
          	<div class="col-md-9">	        
				<select class="form-control input-lg"
						ng-model="origen.id"						
					    ng-options="item.id*1 as item.nombre for item in listaOrigen" required>
					    <option value="" disabled selected>Seleccione un Origen</option>                      
              	</select>
	        </div>
          </div>          
		  <div class="row">
			<div class="col-md-3"> 
          		<label class="custom-size">Nombre:</label>
			</div>
			<div class="col-md-9">
          		<input type="text" pattern="[A-Za-z ]{3,45}" class="form-control input-lg" ng-model="origen.nombre" placeholder="Nombre"  required> 
			</div>
		  </div>
		   <div class="row">
			<div class="col-md-3">
          		<label class="custom-size">Apellido:</label>
			</div>
			<div class="col-md-9">
          		<input type="text" pattern="[A-Za-z ]{3,45}" class="form-control input-lg" ng-model="origen.apellido" placeholder="Apellido"  required>
			</div>
		  </div>
		  <div class="row">
			  <div class="col-md-3">
			  	<label class="custom-size">Direccion:</label>
			  </div>
			  <div class="col-md-9">
			  	<input type="text" class="form-control input-lg" ng-model="origen.direccion" placeholder="Direccion"  required>
			  </div>
		  </div>
		  <div class="row">
			  <div class="col-md-3"> 
			  	<label class="custom-size">Telefono Fijo:</label>
			  </div>
			  <div class="col-md-4"> 
			  	<input type="text" pattern="[0-9]{9}" class="form-control input-lg" ng-model="origen.fono" placeholder="Telefono Fijo"  required>
			  </div>
			  <div class="col-md-1 col-md-offset-0">
			  	<label class="custom-size">Celular:</label>
		  	  </div>
			  <div class="col-md-4">
          		<input type="text" pattern="[0-9]{8}" class="form-control input-lg" ng-model="origen.celular" placeholder="Celular"  required>
			  </div>
		  </div>
          <div class="row">
			  <div class="col-md-3">
			  	<label class="custom-size">Rut:</label>
			  </div>
			  <div class="col-md-9"> 
			  	<input type="text" name="rut" pattern="[0-9]{8,9}" class="form-control input-lg" ng-model="origen.rut" placeholder="Rut sin puntos ni guion"  required>
			  </div>	  
		  </div>		  
		  <div class="row">
			<div class="col-md-3">  
          		<label class="custom-size">Correo:</label>
			</div>
			<div class="col-md-9">  
          		<input type="email" name="email" class="form-control input-lg" ng-model="origen.correo" placeholder="Correo"  required>
			</div>

		  </div>
          <div class="row">
			<div class="col-md-3">            		
			</div>
			<div class="col-md-9">
				<button class="btn btn-lg btn-primary btn-block" ng-disabled="!activarOrigenForm.$valid" type="submit">
				Guardar
				</button>
			</div>
		</div>

  </div>

		</form>

</div>

